.container {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/formBackground.webp);
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}