.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:300px;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    
}